body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:black;
}

.adam{
position:relative;
}

.kafa{
width:60px;
height:60px;
border:4px solid purple;
border-radius:50%;
margin:auto;
}

.govde{
width:4px;
height:100px;
background:blue;
margin:auto;
}

.kol{
width:80px;
height:4px;
background:yellow;
position:absolute;
top:90px;
}

.solKol{
left:-45px;
}

.sagKol{
right:-45px;
transform-origin:left center;
}

.bacak{
width:4px;
height:90px;
background:green;
position:absolute;
top:160px;
}

.solBacak{
left:12px;
transform:rotate(25deg);
}

.sagBacak{
right:12px;
transform:rotate(-25deg);
}
